# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS
.DS_Store
Thumbs.db

# dotenv environment variables
.env

# AWS + Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Docker
*.log
*.pid

# IDEs
.vscode/
.idea/

# Misc
*.zip
*.gz

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

.env
.vscode/
.idea/

